[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dynaconf = "==3.1.7"
bs4 = "*"
requests = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.9"
